
ol,
ul {
  list-style: none;
}
body{
  overflow-x:hidden;
}
article,
footer,
header,
menu,
nav,
section {
  display: block;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  margin: 0;
  padding: 0;
  font-weight: 730px;
  line-height: 96px;
  font-size: 102px;
  padding-left: 64px;
  align-items: center;
  width: 730px;
  z-index: 3;
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 3;
  margin: 0 0 0 0;
}

.header__link{
  text-decoration:none;
  color: #2f80ed;
}


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  z-index: 1;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
}

.header__img{
  height: 608px;
  width: 768px;
  z-index: 2;
  position: absolute;
  right: 0px;
  bottom: 0px;

}
/* и элемента с модификатором вида ключ-значение */
.description {
  padding-top: 100px;
}

.two-columns__main-text {
  margin: 0;
  padding: 0;
  width: 80%;
  min-width: 784px;

}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.two-columns__brief {
  margin: 0 0 0 0;
  color: #2f80ed;
  font-weight: normal;
  line-height: 1.2;
  font-size: 18px;
  width: 175px;
}

.two-columns__span-accent {
  font-weight: 600;
  line-height: 34px;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.two-columns__paragraph {
  margin: 0 0 0 0;
  font-weight: normal;
  line-height: 34px;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.two-columns__paragraph:not(:first-child) {
  margin-top: 30px;
}

.digits {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  margin: 0 0 0 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  margin: 0 0 0 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  margin: 0 0 0 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;

}

.table__text {
  margin: 0 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.feynman {
  padding-top: 100px;
  height: 790px;
  background-color: #f2f2f2;
  position: relative;
}

.feynman__image {
  position: absolute;
  z-index: 0;
  bottom: 0px;
  left: 0px;
}

.feynman__title {
  margin: 0 0 0 0;
  position: relative;
  z-index: 2;
  width: 648px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  margin: 0 0 0 0;
  width: fit-content;
  position: relative;
  z-index: 2;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  text-decoration:none;
  z-index: 2;
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

.kaufman {
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  position: relative;
  z-index: 0;
}
.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  right: -210px;
  top: 0px;
  background-repeat: no-repeat;
  background-size:cover;
  height: 877px;
  width: 877px;
}

.section-title_theme_dark {
  color: white;
  position: relative;
  z-index: 2;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;

}

.table_theme_dark {
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  position: relative;
  z-index: 1;
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;

}
.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  position: relative;
  z-index: 1;
  color: white;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.footer {
  margin: 0 0 0 0;
  min-height: 250px;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
}

.footer__columns {
  margin: 0 0 0 0;
  min-height: 250px;
  flex-basis: 711px;
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.footer__column_content_copyright {
  margin: 0 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__author {
  margin: 0 0 0 0;
  margin-top: 18px;
  margin-bottom: 18px;

  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_heading {
  margin: 0 0 0 0;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column_links {
  padding:0 0 0 0;
  margin: 0 0 0 0;
  margin-top: 20px;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link {
  margin: 0 0 0 0;
  text-decoration:none;
  color: white;
}

.footer__social-icon {
  margin: 0 0 0 0;
  margin-left: 0;
  margin-right: 10px;
}

.footer__column_content_info {
  margin: 0 0 0 0;
  margin-left:50%;

}
.footer__column_content_social{
  margin: 0 0 0 0;
  margin-left: auto;
  margin-right: 0%;
}
.footer__list-item{
  margin: 0 0 0 0;
  width: 130px;
}
